footer{

    display: flex;
    justify-content: space-around;
    align-items: center;

    padding: 20px;

    background-color: #d9d9d9;

    margin-top: 30px;
}

.footer-section{

    display: flex;
    flex-direction: column;
    gap: 10px;

    text-align: center;
}

.footer-section h3{
    margin: 0;
}